<!-- <div *ngFor="let person of personsData; let i = index">
  <div class="d-flex justify-content-between">
    <div>
      <div><strong>Name:</strong> {{ person.name }}</div>
      <div><strong>Phone Number:</strong> {{ person.phoneNumber }}</div>
      <div><strong>Province:</strong> {{ person.province }}</div>
    </div>
    <button (click)="startEdit(i)" class="btn btn-outline-dark">Edit</button>
  </div>
  <hr />
</div>

<div *ngIf="editingPersonIndex !== null">
  <app-form
    [editingPersonIndex]="editingPersonIndex"
    (editingFinished)="editingFinished($event)"
  ></app-form>
</div> -->
